html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
}

.footer{
    background-color : #C10003;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footer a {
    text-decoration: none;
}